<app-header></app-header>

<div class="test-content-primary test-bg-primary h-75">
    <div class="container-fluid">
        <div class="row p-2 p-md-5">
            <div class="col-sm-12 col-md-6">
                <h2 class="text-uppercase p-2 p-md-4">
                    <strong>
                        Sumale kilometros a la vida de tu motor
                    </strong>
                    <p class="bg-dark text-light my-2 p-3">
                        Registrate para participar por un cambio de aceite totalmente gratis
                    </p>
                </h2>
            </div>
            <div class="col-sm-12 col-md-6">
                <form class="form-group bg-light p-4">
                    <h2 class="text-uppercase">Registrate y participa</h2>
                    <hr class="my-2">
                    <label class="m-0" for="">Nombre</label>
                    <input type="text" class="form-control" name="" id="test-name" aria-describedby="emailHelpId" placeholder="" required>
                    <label class="m-0" for="">Apellido</label>
                    <input type="text" class="form-control" name="" id="test-lastname" aria-describedby="emailHelpId" placeholder="" required>
                    <label class="m-0" for="">Cédula</label>
                    <input type="number" class="form-control" name="test-document" id="test-" aria-describedby="emailHelpId" placeholder="" required>
                    <label class="m-0" for="">Ciudad</label>
                    <input type="text" class="form-control" name="test-city" id="" aria-describedby="emailHelpId" placeholder="" required>
                    <label class="m-0" for="">Celular</label>
                    <input type="number" class="form-control" name="" id="test-phone" aria-describedby="emailHelpId" placeholder="" required>
                    <label class="m-0" for="">Correo</label>
                    <input type="email" class="form-control" name="" id="test-mail" aria-describedby="emailHelpId" placeholder="" required>
                    <div class="form-check my-4">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="" id="test-auth" value="checkedValue" checked>
                        Autorizo el tratamiento de mis datos de acuerdo con la finalidad establecida en la política de protección de datos personales
                      </label>
                    </div>
                    <button id="test-form-prom" type="submit" class="btn btn-primary text-uppercase btn-block">Participar</button>
                </form>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>