<app-header></app-header>

<div class="test-content-primary test-bg-primary h-75">
    <div class="container-fluid">
        <div class="row p-2 p-md-5">
            <div class="col-sm-12 col-md-6">
                <div id="test-banner-winner" class="bg-primary p-5 my-4 d-none"></div>
                <h2 class="text-uppercase p-2 p-md-4">
                    <strong>
                        Sumale kilometros a la vida de tu motor
                    </strong>
                    <p class="bg-dark text-light my-2 p-3">
                        Registrate para participar por un cambio de aceite totalmente gratis
                    </p>
                </h2>
                <p class="bg-light p-2 mx-4 text-right text-uppercase">
                    Oferta valida solo para Colombia
                </p>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group bg-light p-4">
                    <h2 class="text-uppercase">Registrate y participa</h2>
                    <hr class="my-2">
                    <label class="m-0" for="">Nombre</label>
                    <input type="text" class="form-control" id="test-name" aria-describedby="emailHelpId" placeholder="" required>
                    <label class="m-0" for="">Apellido</label>
                    <input type="text" class="form-control" id="test-lastname" aria-describedby="emailHelpId" placeholder="" required>
                    <label class="m-0" for="">Cédula</label>
                    <input type="number" class="form-control" id="test-document" aria-describedby="emailHelpId" placeholder="" required>
                    <div class="form-group m-0">
                      <label class="m-0" for="">Departamento</label>
                      <select class="form-control" id="test-dep">
                          <option hidden value="0">Seleccione un departamento</option>
                          <option *ngFor="let dep of arrdeps" value="{{dep}}">{{dep}}</option>
                      </select>
                    </div>
                    <div class="form-group m-0">
                        <label class="m-0" for="">Ciudad</label>
                        <select class="form-control m-0" id="test-city">
                          <option hidden value="0">Seleccione una ciudad</option>
                          <option *ngFor="let city of arrcities" value="{{city}}">{{city}}</option>

                        </select>
                    </div>
                    
                    <label class="m-0" for="">Celular</label>
                    <input type="number" class="form-control" id="test-phone" aria-describedby="emailHelpId" placeholder="" required>
                    <label class="m-0" for="">Correo</label>
                    <input type="email" class="form-control" id="test-mail" aria-describedby="emailHelpId" placeholder="" required>
                    <div class="form-check my-4">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" id="test-auth">
                        Autorizo el tratamiento de mis datos de acuerdo con la finalidad establecida en la política de protección de datos personales
                      </label>
                    </div>
                    <button id="test-form-prom" type="submit" class="btn btn-primary text-uppercase btn-block">Participar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>