/* -------------------------------------------------------------------------- */
/*                               Contents Styles                              */
/* -------------------------------------------------------------------------- */

.test-content-header{
    height: max-content;
}

.test-content-primary{
    height: max-content !important;
    min-height: 70%;
}